// Tom Tom
@import "@tomtom-international/web-sdk-maps";
@import "@tomtom-international/web-sdk-plugin-searchbox";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';



#map {
    height: 500px;
    margin-bottom: 100px;
}

#homepicture {
    height: 100vh;
    background-image: url('/assets/images/boolbnb-home-hd.jpg');
    background-size: cover;
}

#homeLeftBox {
    padding-top: 10%;
    .card {
        padding: 30px;
    }
    h6 {
        margin-top: 20px;
    }
}

#home-sponsored {
    margin: 6em auto;
    h2 {
        margin-bottom: 2em;
    }
}

#home-not-sponsored {
    margin: 6em auto;
    h2 {
        margin-bottom: 2em;
    }
}

.card-img {
    object-fit: cover;
    height: 180px;
}

.card-img-overlay {
    .fa-star {
        font-size: 1.4em;
        color: $yellow;
    }
}

.card-columns {
    @include media-breakpoint-only(sm) {
        column-count: 2;
    }
    @include media-breakpoint-only(md) {
        column-count: 2;
    }
    @include media-breakpoint-only(lg) {
        column-count: 3;
    }
}

#flat-det h3 {
    margin-top: 30px;
}

<<<<<<< HEAD

=======
>>>>>>> origin/master
#flat_search {
    margin-top: 100px;
    background-color: $light-grey;
}

#find-results {
    margin: 70px auto;
}

#dashboard-index {
    .card {
        background-color: $light-grey;
    }
}
