// Tom Tom
@import "@tomtom-international/web-sdk-maps";
@import "@tomtom-international/web-sdk-plugin-searchbox";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';



.nav-item {
    a {
        font-size: 1.0rem;
    }
    &.active {
        border-bottom: 3px solid $green;
    }
}

#map {
    height: 500px;
}

#homepicture {
    min-height: 100vh;
    background-image: url('/assets/images/boolbnb-home-hd.jpg');
    background-size: cover;
}

#homeLeftBox {
    padding-top: 10%;
    .card {
        padding: 30px;
    }
    h6 {
        margin-top: 20px;
    }
}

#home-not-sponsored, #home-sponsored, #find-results {
    .card {
        transition: transform .5s;
        &:hover {
            transform: scale(1.03);
        }
    }
        .card-img {
        object-fit: cover;
        height: 180px;
    }
    .card-title {
        height: 45px;
    }
}

#dashboard-index {
    .card-img {
        height: 220px;
    }
}

#show-details {
    .card-img {
        height: 280px;
    }
}

.card-img-overlay {
    .fa-star {
        font-size: 1.4em;
        color: $yellow;
    }
}

#flat-det h3 {
    margin-top: 30px;
}

#flat_search, #flat_map {
    margin-top: 100px;
    background-color: $light-grey;
}

#find-results {
    margin: 70px auto;
}

#dashboard-index, #upr-msg {
    .card {
        background-color: $light-grey;
    }
}

//  serie di fix per posizionare la address input di tomtom
.tt-search-box-input-container {
    border-radius: 5px;
}

.tt-address-label {
    padding-top: 12px;
}

.tt-search-box {
    margin-top: 0;
}

footer {
    a, a:hover {
        color: rgb(72, 72, 72);
    }
    i:hover {
        color: rgb(72, 72, 72);
        cursor: pointer;
    }
    img {
        height: 40px;
        width: 40px;
    }
}

// Page 404

#error {
@import url('https://fonts.googleapis.com/css?family=Sniglet:400,800');

    h1{
        text-align: center;
        font-size: 190px;
        font-weight: 400;
        margin: 0;
    }
    .fas{
        font-size: 120px;
        text-align: center;
        display: block;
        padding-top: 100px;
        margin: 0 auto;
        color: #A93226;
    }
    p{
        text-align: center;
        font-size: 36px;
        color: #A93226;
    }
    .back{
        font-family: "Sniglet", cursive;
        text-align: center;
        margin: 0 auto;
        display: block;
        text-decoration: none;
        font-size: 24px;
        background: #BA4A00;
        border-radius: 10px;
        width: 10%;
        padding: 4px;
        color: #fff;
    }

    .w3hubs{
        text-decoration: none;
        color: #A93226;
    }
    @media(max-width: 550px){
        a.back{
            width: 20%;
        }
    }
    @media(max-width: 425px){
        h1{
                padding-top: 20px;
        }
        .fas{
            padding-top: 100px;
        }
    }
}
    // Stile per la about_us:

    .about_us {

        // Animo il colore dell'header:
        @keyframes baf-color {
            0% {background-color: rgb(13,30,44)}
            25% {background-color: rgb(10,22,33)}
            50% {background-color: rgb(6,15,22)}
            75% {background-color: rgb(10,22,33)}
            100% {background-color: rgb(13,30,44)}
        }

        header {
            background-color: rgb(13,30,44);
            animation-name: baf-color;
            animation-duration: 10s;
            animation-iteration-count: infinite;
        }

        .container .row > div {

            &:hover {
                transform: rotate(1deg) scale(1.02);
                box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
                cursor: pointer;
            }

        }
}
